numpy>=1.22,<2
ark-analysis @ git+https://github.com/angelolab/ark-analysis.git@v0.3.2
deepcell @ git+https://github.com/JLrumberger/deepcell-tf
scikit-image==0.16.2
xarray>=0.17.0,<1
tifffile>=2019.0.0
tqdm>=4.64.0,<5
imgaug>=0.4.0
toml>=0.10.2